@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import 'leaflet/dist/leaflet.css';

/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Safe area for mobile bottom navigation */
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}